<% include ../partials/header %>
<div class="container">
    
    <div class="row">
        
        <h1 style="text-align: center;">Edit <%= talk.name %></h1>
        <!-- width, top/bot left/right margins, -->
        <div style="width: 30%; margin: 30px auto;">
            <form action="/talks/<%= talk._id %>?_method=PUT" method="POST">
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type="text" name="talk[image]" value="<%= talk.image %>">-->
                <!--</div>-->
                <div class="form-group">
                    <input class="form-control" type="text" name="talk[video]" value="<%= talk.video %>">
                </div>
                <div class="form-group">
                      <input class="form-control" type="text" name="talk[name]" value="<%= talk.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="talk[description]" value="<%= talk.description %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="talk[rating]" value="<%= talk.value %>" placeholder="rating out of 5 (optional)" min="3.0" step="0.1" max="5.0">
                </div>
                <div class="form-group"></div>
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
                
            <a href="/talks">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>