<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">IdeaCafe</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= talk.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">PLACEHOLDER</h4>
                    <h4><a><%= talk.name %></a></h4>

                        <iframe src="<%= talk.video %>" width="854px" height="480px" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
   
                    <p><%= talk.description %></p>
                    <span class="pull-right">
                        <em>Submitted by <%= talk.author.username %></em>
                    </span>
                    <% if(currentUser && talk.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/talks/<%= talk._id %>/edit">Edit</a>
                        <form id="delete-talk" action="/talks/<%= talk._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/talks/<%= talk._id %>/comments/new">Add New Comment</a>
                </div>
                <hr> <!--horizontal rule, spacing-->
                <% talk.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <font color="blue"><strong><%= comment.author.username %></strong></font>
                            <span class="pull-right"> DATE AGO </span>
                        </div>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/talks/<%= talk._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form id="delete-comment" action="/talks/<%= talk._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>